
TransportCanadaServiceCenterBookingApp/bin/Debug/netcoreapp2.1/ServiceCenterBookingApp.dll
*.pdb
TransportCanadaServiceCenterBookingApp/bin/Debug/netcoreapp2.1/ServiceCenterBookingApp.runtimeconfig.dev.json
TransportCanadaServiceCenterBookingApp/obj/Debug/netcoreapp2.1/ServiceCenterBookingApp.AssemblyInfo.cs
*.cache
TransportCanadaServiceCenterBookingApp/obj/Debug/netcoreapp2.1/ServiceCenterBookingApp.csproj.FileListAbsolute.txt
*.dll
TransportCanadaServiceCenterBookingApp/obj/Debug/netcoreapp2.1/ServiceCenterBookingApp.RazorAssemblyInfo.cs
TransportCanadaServiceCenterBookingApp/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TransportCanadaServiceCenterBookingApp/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TransportCanadaServiceCenterBookingApp/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TransportCanadaServiceCenterBookingApp/obj/Debug/netcoreapp2.1/TransportCanadaServiceCenterBookingApp.AssemblyInfo.cs
TransportCanadaServiceCenterBookingApp/obj/Debug/netcoreapp2.1/TransportCanadaServiceCenterBookingApp.RazorAssemblyInfo.cs
TransportCanadaServiceCenterBookingApp/obj/project.assets.json
TransportCanadaServiceCenterBookingApp/obj/ServiceCenterBookingApp.csproj.nuget.g.props
TransportCanadaServiceCenterBookingApp/obj/ServiceCenterBookingApp.csproj.nuget.g.targets
TransportCanadaServiceCenterBookingApp/obj/TransportCanadaServiceCenterBookingApp.csproj.nuget.g.props
TransportCanadaServiceCenterBookingApp/obj/TransportCanadaServiceCenterBookingApp.csproj.nuget.g.targets
